{% extends "sushisake/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="account-background img-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-8 offset-md-2 transbox">
        <h1 class="border-bottom">{% trans "Sign In" %}</h1>

        <p>Welcome to Sushi & Sake! Too book a table with us, please sign in
          below using the username and password you have created.</p>

        <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

        <form class="login text-center" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="primaryAction btn btn-sign" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
