/* General Styles */

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    color: #f8be57;
}

h2 {
    font-family: 'Alegreya Sans', sans-serif;
    color: #ef716b;
}

h3 {
    font-family: 'Assistant', sans-serif;
    color: #f8be57;
}

h4, body {
    font-family: 'Assistant', sans-serif;
    color: whitesmoke;
}

a {
    color: #ef716b;
}

ul {
    list-style: none;
}

.logo-divider {
    padding-top: 4%;
}

.transbox {
    color: white;
    padding: 5%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: rgba(0, 0, 0, 0.6)
}

.mt-8 {
    margin-top: 8%;
}

.errorlist li {
    text-transform: uppercase;
    color: #ef716b;
}


/* Navbar */

nav {
    border-bottom: 2px solid #ef716b;
    background-color: rgba(0, 0, 0, 0.85)
}

.navbar-toggler-icon {
    background-color: #ef716b;
    border-radius: 10%;
    border: 2px solid #f8be57
}

.navbar {
    padding: 0;
}

.nav-link {
    color: whitesmoke;
}

.brand-text p {
    font-size: 1rem;
    padding: 0;
    text-align: center;
    line-height: 0;
    color: white;
}

nav a {
    padding-top: 0;
    padding-bottom: 0;
}

.book-action a {
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
    color: #ef716b;
}

.navbar-brand:hover {
    text-decoration: none;
}

.book-action:hover {
    background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid #f8be57
}

.book-action a:hover {
    text-decoration: none;
    color: white;
}

#brand-title p {
    font-family: 'Alegreya Sans', sans-serif;
    color: #f8be57 ;
    font-size: 2.2rem;
    padding: 0;
    margin-top: 20px;
}


/* Footer */

footer {
    display: inline-block;
    background-color: #f8be57;
    border-top: 2px solid #ef716b;
}

footer i {
    color: #555b50 ;
    font-size: 1rem;
}


/* Account pages */

.login {
    margin-top: 40px;
}

.account-background {
    background-image: url(https://res.cloudinary.com/cld2904/image/upload/v1661793691/koi-carp-g16760f884_1280_co4fty.png);
    background-repeat: repeat;
    min-height: 100vh;
    max-height: fit-content;
}


/* Buttons */

.btn-sign {
    background-color: #f8be57;
    border-radius: 10%;
    border: 2px solid #555b50;
}

.cta {
    font-size: 1.2rem;
    padding: 1%;
}

.cta:hover {
    color: white;
}

#cancelbtn {
    background-color: #ef716b;
}


/* Home Page */

/* Header */ 
.home-background {
    background-image: url(https://res.cloudinary.com/cld2904/image/upload/v1661793691/koi-carp-g16760f884_1280_co4fty.png);
    background-repeat: repeat;
    height: fit-content;
    background-attachment: fixed;
}

.home-jumbotron {
    background-image: url(https://res.cloudinary.com/cld2904/image/upload/v1663088326/japanesestreet_joit9v.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    background-attachment: fixed;
}

#jumbotron-title h1 {
    padding: 0;
    margin-top: 40px;
    font-size: 4.4rem;
    line-height: 40px;
}

.jumbotron-bottom p {
    padding: 0;
    margin-bottom: 40px;
    font-size: 2rem;
    line-height: 20px;
}

/* Carousel */

.paper-background {
    background-image: url(https://res.cloudinary.com/cld2904/image/upload/v1663094062/paper-background_izc5wr.jpg);
    background-repeat: repeat;
    height: fit-content;
    text-align: center;
    background-attachment: fixed;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-outer {
    width: 80%;
}

.gallery-title {
    padding: 2%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

/* Testimonials */

.blockquote-footer {
    color: #f8be57;
}

.qmark {
    color: #f8be57;
    font-size: 1.8rem;
}


/* Menu Page */

.menu-title {
    color: #ef716b;
}


/* Contact Page */

.contact-background {
    background-image: url(https://res.cloudinary.com/cld2904/image/upload/v1661793691/koi-carp-g16760f884_1280_co4fty.png);
    background-repeat: repeat;
    height: fit-content;
}

.mapouter {
    width: 100%;
    height: fit-content;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
}

#gmap_canvas {
    width: 80%;
}


/* Messages */

#msg {
    background-color: #f8be57;
    z-index: 3;
    position: absolute;
}

/* Booking pages */

.booking-card {
    border: 2px solid #ef716b;
}

.booking-card a {
    color: #f8be57;
}

.bk-warning {
    border: 2px solid #ef716b;
    margin-top: 4%;
    margin-bottom: 4%;
}

/* Admin Dashboard */

.guest-name {
    font-size: 1.2rem;
    text-decoration: underline;
}