{% extends "sushisake/base.html" %}

{% block content %}

<!-- Home Jumbotron -->
<section>
    <div class="container-fluid home-jumbotron text-center">
        <div class="transbox">
            <div class="brand-text d-inline-block jumbo-brand">
                <div class="align-bottom border-bottom" id="jumbotron-title">
                    <h1>Sushi & Sake</h1>
                </div>
                <div class="jumbotron-bottom align-top">
                    <p>JAPANESE KITCHEN</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.home jumbotron -->

<!-- About Us -->
<section>
    <div class="home-background img-fluid">
        <div class="container px-4 py-5 text-center" id="featured-3">
            <div class="transbox">
                <h2 class="pb-2 border-bottom te">Sushi & Sake Japanese Kitchen</h2>
                <h2 class="pb-2 te">ABOUT US</h2>
                <p>Sushi & Sake draws its inspiration directly from the vibrant streets of Japan.
                    We pride ourselves by pairing the tantalising tastes of the Japanese cuisine
                    with a carefully cultured environment to provide a true culinary experience.</p>
                <div class="text-center logo-divider">
                    <img src="https://res.cloudinary.com/cld2904/image/upload/v1661797330/sslarge-backgroudremove_qukkue.png"
                        alt="Sushi and Sake logo of a piece of sushi" width="80" class="d-inline-block">
                </div>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                    <div class="feature col">
                        <h3 class="fs-2">The sushi...</h3>
                        <p>Take a seat in our enchanting restaurant and let our expert chefs prepare you a
                            variety of Japanese delights. Indulge yourself in our delectable handmade sushi and sashimi,
                            colourful poke bowls, golden katsu, bouncy bao buns and much more...</p>
                        <p>Sushi & Sake also prides itself on providing a range of mouth-watering vegetarian
                            and vegan options for those wanting to experience the fantasy without the fish!</p>
                    </div>
                    <div class="feature col">
                        <h3 class="fs-2">...And the sake</h3>
                        <p>Not only does our restaurant provide a sumptious offering of Japanese cuisine,
                            but as the name might suggest, we also have a superb selection drinks such as
                            sake! Our day-to-night restaurant provides a magical ambience for those seeking
                            an indulgent evening with an oritental twist. We offer a range of tipples
                            from sakes, plum-wines and Japanese-inspired cocktails.</p>
                    </div>
                </div>
                <a aria-current="page" href="{% url 'BookTable' %}"><button class="btn-sign book-action cta">BOOK
                        NOW</button></a>
            </div>
        </div>
    </div>
</section>
<!-- /.about us -->

<!-- Carousel -->
<section>
    <div class="img-fluid paper-background">
        <div class="container px-4 py-5 text-center">
            <div class="transbox">
                <div>
                    <h2 class="border-bottom te">The Sushi & Sake Experience</h2>
                    <h2 class="pb-2 te">GALLERY</h2>
                </div>
                <div class="carousel-container">
                    <div class="carousel-outer mt-3">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                                    aria-label="Slide 5"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                                    aria-label="Slide 6"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="https://res.cloudinary.com/cld2904/image/upload/v1663094615/sushi-tempura_bxm2qf.jpg"
                                        class="d-block w-100" alt="Cripsy sushi and tempura">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://res.cloudinary.com/cld2904/image/upload/v1663096014/poke-bowl_b12uqi.jpg"
                                        class="d-block w-100" alt="A colourful poke bowl">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://res.cloudinary.com/cld2904/image/upload/v1663096187/ramen_tvwl1f.jpg"
                                        class="d-block w-100" alt="A bowl of ramen">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://res.cloudinary.com/cld2904/image/upload/v1663096393/vegetarian-sushi_gcgxfa.jpg"
                                        class="d-block w-100" alt="A plate of vegetarian sushi">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://res.cloudinary.com/cld2904/image/upload/v1663096450/japanese-restaurant_j0wucz.jpg"
                                        class="d-block w-100" alt="Image of inviting Japanese restaurant">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://res.cloudinary.com/cld2904/image/upload/v1663096768/japanese-cocktails_fc7u5n.jpg"
                                        class="d-block w-100" alt="Assortment of Japanese cocktails">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <a aria-current="page" href="{% url 'BookTable' %}"><button
                        class="btn-sign book-action cta mt-5 mx-2">BOOK
                        NOW</button></a>
                <a aria-current="page" href="{% url 'menu' %}"><button class="btn-sign book-action cta mt-5 mx-2">VIEW
                        MENU</button></a>
            </div>
        </div>
    </div>
</section>
<!-- /.carousel -->

<!-- Testimonials -->
<section>
    <div class="home-background img-fluid">
        <div class="container px-4 py-5 text-center" id="featured-3">
            <div class="transbox">
                <h2 class="pb-2 border-bottom te">Sushi & Sake Japanese Kitchen</h2>
                <h2 class="pb-2 te">WHAT OUR CUSTOMERS SAY</h2>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                    <div class="feature col">
                        <figure class="text-start">
                            <blockquote class="blockquote">
                                <p><span class="qmark">“</span>Delicious authentic Japanese
                                     food with a relaxing vibe.<span class="qmark">”</span></p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Jillian Cooper <cite title="Best Restaurants Magazine">Best Restaurants Magazine</cite>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="feature col">
                        <figure class="text-end">
                            <blockquote class="blockquote">
                                <p><span class="qmark">“</span>Top orientail cuisine and inspired cocktails
                                     provide a great option for day-to-night dining.<span class="qmark">”</span></p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Roger Mulhane in <cite title="Sushi Today">Sushi Today</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="text-center logo-divider">
                    <img src="https://res.cloudinary.com/cld2904/image/upload/v1661797330/sslarge-backgroudremove_qukkue.png"
                        alt="Sushi and Sake logo of a piece of sushi" width="80" class="d-inline-block">
                </div>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                    <div class="feature col">
                        <figure class="text-start">
                            <blockquote class="blockquote">
                                <p><span class="qmark">“</span>A must try for those seeking authentic sushi
                                    dishes at great value. The fish is so fresh and expertly prepared!
                                    <span class="qmark">”</span></p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Clarissa Kent <cite title="Japan Eats">Japan Eats</cite>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="feature col">
                        <figure class="text-end">
                            <blockquote class="blockquote">
                                <p><span class="qmark">“</span>With a superb range of sakes to try, its easy to find the right
                                    one to accompany some of the many yummy sushi dishes whilst enjoying the chic decor.<span class="qmark">”</span></p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Oliver Odinson <cite title="The Telegraph Food">The Telegraph Food</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <a aria-current="page" href="{% url 'BookTable' %}"><button class="btn-sign book-action cta">BOOK
                        NOW</button></a>
            </div>
        </div>
    </div>
</section>
<!-- /.testimonials -->

{%endblock%}