{% extends "sushisake/base.html" %}

{% block content %}

<div class="home-background img-fluid">
    <div class="container px-4 py-5 text-center">
        <div class="transbox mt-8">
            <h1 class="pb-2 border-bottom te">Sushi & Sake Menu</h1>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                <div class="col">
                    <!-- Sharers -->
                    <section>
                    <h4 class="menu-title">SHARERS</h4>
                    <ul class="text-start">
                        {% for sharer in sharers %}
                        <li>
                            <p><strong>{{ sharer.name }}</strong>
                                <span>
                                    {% if sharer.dietaryinfo %}
                                    <i>({{ sharer.dietaryinfo }})</i>
                                    {% endif %}
                                    <br>
                                </span>
                                {{sharer.description}}, <span> £{{ sharer.price }}</span></p>
                        </li>
                        {% endfor %}
                    </ul>
                    </section>
                </div>
                <div class="col">
                    <!-- Platters -->
                    <section>
                    <h4 class="menu-title">PLATTERS</h4>
                    <ul class="text-start">
                        {% for platter in platters %}
                        <li>
                            <p><strong>{{ platter.name }}</strong>
                                {% if platter.dietaryinfo %}
                                <span><i>({{ platter.dietaryinfo }})</i></span>
                                {% endif %}
                                <br>
                                <span>{{platter.description}},</span> <span> £{{ platter.price }}</span></p>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                </div>
            </div>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                <div class="col">
                    <!-- Sushi -->
                    <section>
                    <h4 class="menu-title">SUSHI</h4>
                    <ul class="text-start">
                        {% for roll in sushi %}
                        <li>
                            <p><strong>{{ roll.name }}</strong>
                                {% if roll.dietaryinfo %}
                                <span><i>({{ roll.dietaryinfo }})</i></span>{% endif %}
                                <br>
                                {{roll.description}}, <span> £{{ roll.price }}</span></p>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                </div>
                <div class="col">
                    <!-- Large plates -->
                    <section>
                    <h4 class="menu-title">LARGE PLATES</h4>
                    <ul class="text-start">
                        {% for plate in largeplates %}
                        <li>
                            <p><strong>{{ plate.name }}</strong>
                                {% if plate.dietaryinfo %}<span> <i>({{ plate.dietaryinfo }})</i></span>{% endif %}
                                <br>
                                {{plate.description}}, <span> £{{ plate.price }}</span></p>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                </div>

            </div>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                <div class="col">
                    <!-- Desserts -->
                    <section>
                    <h4 class="menu-title">DESSERTS</h4>
                    <ul class="text-center">
                        {% for dessert in desserts %}
                        <li>
                            <p><strong>{{ dessert.name }}</strong>
                                {% if dessert.dietaryinfo %}<span> <i>({{ dessert.dietaryinfo }})</i></span>{% endif %}
                                <br>
                                {{dessert.description}}, <span> £{{ dessert.price }}</span></p>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                </div>
                <div class="col">
                    <ul>
                        <li>VG = Vegetarian</li>
                        <li>GF = Gluten Free</li>
                    </ul>
                    <img class="menu-branding" alt="Sushi & Sake logo of a piece of sushi"
                        src="https://res.cloudinary.com/cld2904/image/upload/v1661797330/sslarge-backgroudremove_qukkue.png">
                </div>
            </div>
            <a aria-current="page" href="{% url 'BookTable' %}" class="btn-sign book-action cta" id="menu-cta">BOOK
                    NOW</a>
        </div>
    </div>
</div>

    {% endblock %}