{% extends "sushisake/base.html" %}

{% block content %}
<div class="account-background img-fluid">
    <div class="container px-4 py-5 text-center">
        <div class="col-md-8 mt-8 mb-4 offset-md-2 transbox">
            <h1 class="border-bottom">My Bookings</h1>
            {% if bookings %}
            {% for booking in bookings %}
            <div class="row g-2 py-2 mb-2 mt-2 mb-2 text-center booking-card">
                <p>Table for {{ booking.people }} from {{ booking.booking_date_time_start }}
                    until {{ booking.booking_date_time_end }}</p>
                {% if booking.additional_info %}
                    <p>Additional information: {{ booking.additional_info }}</p>
                {% endif %}
                <div class="row mt-2">
                    <div class="col-md-6">
                        <a class="nav-link" aria-current="page" href="{% url 'editbooking' booking.id %}">Edit
                            booking</a>
                    </div>
                    <div class="col-md-6">
                        <a class="nav-link" aria-current="page" href="{% url 'confirmdelete' booking.id %}">Cancel
                            booking</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center mb-4">You currently have no bookings.</p>
            <p class="text-center mb-4">To book a table with us, please book online <a
                    href="{% url 'BookTable' %}">here</a>.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}